
body{
    background-color: #1c0b31;
    color: white;
}

.navbar{
    background-color: #1c0b31;
    width: 1600px;
    height: 92px;
    
  
}
.top{
    color: aliceblue;
    display: flex;
    justify-content: space-between;
     align-items: center;
    margin: 0 200px;
}.navit{
    display: flex;
    gap: 32px;

}
.navit li{
    list-style: none;
    
}.btn{
    color: white;
    padding: 12px 16px;
    gap: 4px;
    width: 135px;
    height: 44px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    border-radius: 8px;
}.banner{
    background-image: url(../assets/hero-bg.png);
    color: aliceblue;
    display: flex;
    justify-content: center;
    width: 1600px;
    height: 776px;
    margin-bottom: none;
}.imgcontainer{
    align-items: center;
    width: 550px;
    height: 558px;
} .img1{
    position: relative;
    top: 100px;
    left: 100px;
} .img2{
    position: relative;
    top: -180px;
    left: 220px;
}.bannercontent{
    justify-items: center;
}.banbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    
}
.title{
    font-size: 60px;
    font-weight: 800;
    margin: 12px;
}
.btn1,.btn2{
    border-radius: 20px;
}.bgcl{
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));;
}

.btn1{
    color: white;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 6px; 
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}.btn2{
   color: rgb(15, 219, 59);
   background: none;
   border:2px solid rgb(15, 219, 59);
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 6px;
}.swhite{
    color: white;
}.about{
    width: 1600px;
    height: 646px;
    background-color: #1c0b31;
    color: white;
    margin-top: none;
    
}.describe{
text-align: center;
width: 1200px;
height: 222px;
margin:100px 200px;

}.para{
    font-size: 16px;
    font-weight: 400;
}.rating{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0px 200px;
    align-items: center;
}.inter{
    font-size: 48px;
    font-weight: 900;
    color: rgb(8, 225, 8);
}.rating p{
    width: 240px;
    height: 20px;
    font-size: 16px;
    font-weight: 400;
}