
body{
    background-color: #1c0b31;
    color: white;
}
.top img{
    width: 219px;
    height: 32px;
}
.navbar{
    background-color: #1c0b31;
    width: 1600px;
    height: 92px;
    
  
}
.top{
    color: aliceblue;
    display: flex;
    justify-content: space-between;
     align-items: center;
    margin: 0 200px;
}.navit{
    display: flex;
    gap: 32px;

}
.navit li{
    list-style: none;
    
}.btn{
    color: white;
    padding: 12px 16px;
    gap: 4px;
    width: 135px;
    height: 44px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    border-radius: 8px;
}.banner{
    background-image: url(../assets/hero-bg.png);
    color: aliceblue;
    display: flex;
    justify-content: center;
    width: 1600px;
    height: 776px;
    margin-bottom: none;
}.imgcontainer{
    align-items: center;
    width: 550px;
    height: 558px;
} .img1{
    position: relative;
    top: 100px;
    left: 100px;
} .img2{
    position: relative;
    top: -180px;
    left: 220px;
}.bannercontent{
    justify-items: center;
}.banbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    
}
.title{
    font-size: 60px;
    font-weight: 800;
    margin: 12px;
}
.btn1,.btn2{
    border-radius: 20px;
}.bgcl{
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));;
}

.btn1{
    color: white;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 6px; 
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}.btn2{
   color: rgb(15, 219, 59);
   background: none;
   border:2px solid rgb(15, 219, 59);
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 6px;
}.swhite{
    color: white;
}.about{
    width: 1600px;
    height: 646px;
    background-color: #1c0b31;
    color: white;
    margin-top: none;
    
}.describe{
text-align: center;
width: 1200px;
height: 222px;
margin:100px 200px;

}.para{
    font-size: 16px;
    font-weight: 400;
}.rating{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0px 200px;
    align-items: center;
}.inter{
    font-size: 48px;
    font-weight: 900;
    color: rgb(8, 225, 8);
}.rating p{
    width: 240px;
    height: 20px;
    font-size: 16px;
    font-weight: 400;
}.box{
   background-color: #25064b;
    border-radius: 20px;
     padding: 40px;

}.tile03{
    text-align: center;
    width: 1200px;
    height: 49px;
    font-size: 48px;
    font-weight: 600;
    margin: 0 200px;
}
.gridlay{
    margin: 120px 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
        gap: 30px;
       
}.box1{
    grid-column: span 1;
    grid-row:span 2 ;
}.box2{
    grid-column: span 2;

}.box3{
    grid-column: span 2;
}.box4{
    grid-column: span 2;
}.box5{
    grid-row: span 1;
}.box h3{
    font-size: 24px;
    font-weight: 700;
}.headt{
    text-align: center;
    font-size: large;
    font-weight: 600;
}

 .card{
    background-color:  #25064b;
    width: 300px;
    height: 380px;
    padding: 0px 12px;
}.episode{
    display: flex;
    justify-content: center;
    gap: 30px;
}.minute{
    display: flex;
    color:  rgb(8, 225, 8);
    gap: 4px;
}
.hstm{
    text-align: center;
    position: relative;
    top: 100px;
}
.hostcontainer{
    background-color:#25064b;
    display: flex;
    width: 1200px;
    height: 280px;
    margin: 120px 200px;
    text-align: center;
    border-radius: 30px;
    padding: 40px;
    gap: 20px;

}.hosttitle{
    text-align: start;
    width: 896px;
    height: 183px;
}.icon{
    display: flex;
    gap: 15px;
    margin-top: 40px;
    width: 184px;
    height: 40px;
    
}
.icon img{
    width: 20px;
    height: 20px;
    border: 1px solid white;
    padding: 30px;
    border-radius: 40%;
    
}.yofoot{
     width: 1600px;
    height: 412px;
    background-image:url(../assets/footer-bg.png) ;

}.fticon{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 200px;}
.footcontainer{
    text-align: center;
}.logof{
    position: relative;
    top: 150px;
}.mar{
    margin-top: 50px;
}

@media screen and (max-width:576px){
    .navbar{
        width: 440px;
        height: 60px;
    } .navbar img{
        width: 137px;
        height: 20px;
        text-align: start;
    }.navit,
    .btn
    {
        display: none;
    }.banner{
        width: 96%;
    }.describe{
        text-align: center;
        width: 550px;
        margin: 0;
        height: auto;
    }.rating{
    display: flex;
    flex-direction: column 2;
    flex-wrap: wrap;
    text-align: center;
    width: 550px;
    margin: 0px;
    
}.tile03{
    text-align: start;
    width: 100%;
    height: auto;
    font-size:22px;
    font-weight: 0;
    margin: 0px;

}

.gridlay{
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
        gap: 30px;
}
.episode{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;}
.card{
    background-color:  #25064b;
    width: 100%;
    height: 380px;
    padding: 0px;
    text-align: center;
    border-radius: 30px;


}
.hostcontainer{
    background-color:#25064b;
    display: flex;
    flex-direction: column;
    width: 520px;
    height: 500px;
    margin:0;
    text-align: center;
    border-radius: 30px;
    padding: 24px;
    gap: 16px;
}.hstm{
    text-align: center;
    position: relative;
    top: 10px;
}.hosttitle{
    text-align: center;
    width: 520px;
    height: 183px;
}.yofoot{
    width: 520px;
    height: auto;
    


}
.fticon img{
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 0px;}
    .fticon { width: 500px;
    
        flex-wrap: wrap;

    }
}